---
import MySiteLayout from '../layouts/Layout.astro';

let json = {};

try {
  const response = await fetch('http://localhost:3001/api/tablas-filtro');
  if (response.ok) {
    json = await response.json();
  } else {
    console.error("Error en la respuesta de la API:", response.status);
  }
} catch (error) {
  console.error("Error al conectar con la API:", error);
}
---

<MySiteLayout title="Tablas con Exactamente 5 Columnas">
    <h1>Tablas con Exactamente 5 Columnas</h1>
  
    <table>
      <thead>
        <tr>
          <th>Nombre de Tabla</th>
          <th>Numero de Columnas</th>
        </tr>
      </thead>
      <tbody>
        {json.map(item => (
          <tr key={item[0]}>
            <td>{item[0]}</td>
            <td>{item[1]}</td>
          </tr>
        ))}
      </tbody>
    </table>
  </MySiteLayout>
  