---
// import BaseHead from '../components/BaseHead.astro';
// import Footer from '../components/Footer.astro';
const { title } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <BaseHead title={title} /> -->
  </head>
  <body>
    <!-- <nav>
      <a href="#">Inicio</a>
      <a href="#">Publicaciones</a>
      <a href="#">Contacto</a>
    </nav> -->
    <!-- <h1>{title}</h1> -->
    <article style="width: 100%; object-fit: ; ">
      <slot /> <!-- tu contenido es inyectado aquí -->
    </article>
    <!-- <Footer /> -->
  </body>
  <style>
    h1 {
      font-size: 2rem;
    }
  </style>
</html>