---
// import BaseHead from '../components/BaseHead.astro';
// import Footer from '../components/Footer.astro';
const { title } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <BaseHead title={title} /> -->
  </head>
  <body>
    <!-- <nav>
      <a href="#">Inicio</a>
      <a href="#">Publicaciones</a>
      <a href="#">Contacto</a>
    </nav> -->
    <!-- <h1>{title}</h1> -->
    <article style="width: 100%; object-fit: ; ">
      <slot /> <!-- tu contenido es inyectado aquí -->
    </article>
    <!-- <Footer /> -->
  </body>
  
</html>

<style is:global>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      padding: 8px;
      text-align: center;
      border: 1px solid #ddd;
    }
    th {
      background-color: #ff6347;
      color: white;
    }
  </style>